@import "tailwindcss";

body {
  color: white;
  font-family: "Rubik", sans-serif;
  background: radial-gradient(
      circle at bottom right,
      rgba(217, 255, 0, 0.048),
      transparent 5%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(255, 238, 0, 0.199),
      transparent 10%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(255, 251, 0, 0.26),
      transparent 15%
    ),
    radial-gradient(
      circle at center right,
      rgba(255, 196, 0, 0.11),
      transparent 20%
    ),
    radial-gradient(
      circle at center right,
      rgba(200, 255, 0, 0.055),
      transparent 25%
    ),
    radial-gradient(circle at top right, rgba(2, 70, 66, 0.3), transparent 20%),
    radial-gradient(
      circle at top right,
      rgba(0, 153, 255, 0.3),
      transparent 10%
    ),
    radial-gradient(
      circle at center right,
      rgba(230, 29, 29, 0.048),
      transparent 5%
    ),
    linear-gradient(335deg, rgb(2, 28, 34) 0%, rgb(0, 0, 0) 100%);
}

:root {
  --font-allura: "Allura", cursive;
  --profile-gradient: radial-gradient(
    circle at center,
    #065183 30%,
    #000000 100%
  );
  --text-gradient: linear-gradient(90deg, #065183, #000000);
}

@theme {
  --color-profile-gradient: var(--profile-gradient);
  --font-allura: font-allura;
}
.gradient-text {
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for Firefox */
  color: transparent; /* fallback */
}
.blurRightSideBar {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.096);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.backdropFilter {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.075);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

/* react bits */
.animated-gradient-text {
  position: relative;
  margin: 0 auto;
  display: flex;
  max-width: fit-content;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem;
  font-weight: 500;
  backdrop-filter: blur(10px);
  transition: box-shadow 0.5s ease-out;
  overflow: hidden;
  cursor: pointer;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 300% 100%;
  animation: gradient linear infinite;
  border-radius: inherit;
  z-index: 0;
  pointer-events: none;
}

.gradient-overlay::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: inherit;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #060010;
  z-index: -1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.text-content {
  display: inline-block;
  position: relative;
  z-index: 2;
  background-size: 300% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient linear infinite;
}
.card {
  box-shadow: -7px -7px 10px -3px rgba(207, 214, 212, 0.75) inset;
  -webkit-box-shadow: -7px -7px 10px -3px rgba(207, 214, 212, 0.75) inset;
  -moz-box-shadow: -7px -7px 10px -3px rgba(207, 214, 212, 0.75) inset;
}

/* spotlight */
.card-spotlight {
  position: relative;
  border-radius: 1.5rem;
  border: 1px solid #222;
  background-color: #111;
  padding: 2rem;
  overflow: hidden;
  --mouse-x: 50%;
  --mouse-y: 50%;
  --spotlight-color: rgba(179, 197, 17, 0.05);
}

.card-spotlight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 0, 150, 0.3),
    /* pink */ rgba(0, 200, 255, 0.3),
    /* cyan */ transparent 90%
  );
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.card-spotlight:hover::before,
.card-spotlight:focus-within::before {
  opacity: 0.6;
}

/* swiper */

.tech-scrollbar {
  position: relative;
  margin-top: 30px;
  border-radius: 5px; /* sits outside, below the swiper */
  height: 6px;
  background: rgba(255, 255, 255, 0.25);
  background: #e91e6238;
}
.tech-scrollbar .swiper-scrollbar-drag {
  background: #fff !important;
}
/* Side slides */
.tech .swiper-slide {
  opacity: 0.6; /* faded */
  /* filter: blur(0.5px); */
  transition: opacity 0.3s, filter 0.3s; /* smooth transition */
}

/* Center slide */
.tech .swiper-slide-active {
  opacity: 1; /* fully visible */
  filter: blur(0); /* sharp */
}

.swiper-pagination {
  position: relative;
  font-size: 20px;
  margin-top: 30px;
}

* ::after,
::before,
::backdrop,
::file-selector-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid;
}

/* bg animation */
/* .orb-container {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
} */
