@import "tailwindcss";

body {
  font-family: "Rubik", sans-serif;
  background-color: #065183;
}

:root {
  --font-allura: "Allura", cursive;
  --profile-gradient: radial-gradient(
    circle at center,
    #065183 30%,
    #000000 100%
  );
}

@theme {
  --color-profile-gradient: var(--profile-gradient);
  --font-allura: font-allura;
}

.blurRightSideBar {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
